<!DOCTYPE html>
<html lang="en">
<head>

    <title>Webpage Title</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
        function signin() {
            alert('여기있어요')

            $.ajax({
                type: "POST",
                url: "/signin/api/signin",
                data: {
                    id_give: $('#userid').val(),
                    pw_give: $('#userpw').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token']);

                        alert('로그인 완료!')
                        window.location.href = '/'
                    } else {

                        alert(response['msg'])
                    }
                }
            })
        }

        function signup() {

            $.ajax({
                type: "POST",
                url: "/signin/api/signup",
                data: {
                    id_give: $('#userid').val(),
                    pw_give: $('#userpw').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {

                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/signin'
                    } else {

                        alert(response['msg'])
                    }
                }
            })
        }

    </script>


</head>
<body>
        <div class="section has-text-centered">
            <h1 class="title">title</h1>
            <div class="container" style="width:60%">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userid">ID</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="userid" aria-describedby="emailHelp"
                                       placeholder="ID:">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userpw">PW</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="userpw" placeholder="PW:">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" onclick="signin()">sign in</button>
                <button class="button is-primary" onclick="signup()">sign up</button>


            </div>
        </div>

</body>
</html>

