<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Webpage Title</title>

    <style>
        *{
            font-family: 'Dongle', sans-serif!important;
            font-weight: bold;
            font-size: medium ;
        }
        a{
            text-decoration: none;
            color: cornflowerblue;
        }
        body{
            background-color: antiquewhite;
        }
        section {

        }
        .container{
            width: 30%;
            border: 1px solid gray;
            text-align: center;
            padding-bottom: 40px;
            border-radius: 30px;
            background-color: white;

        }
        .button{
            margin-top: 10px;
        }
        </style>

    <script>
        function signin() {
            alert('여기있어요')

            $.ajax({
                type: "POST",
                url: "/signin/api/signin",
                data: {
                    id_give: $('#userid').val(),
                    pw_give: $('#userpw').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token'], {path:'/'});

                        alert('로그인 완료!')
                        window.location.href = 'http://localhost:5000/'
                    } else {

                        alert(response['msg'])
                    }
                }
            })
        }

        function signup() {

            $.ajax({
                type: "POST",
                url: "/signin/api/signup",
                data: {
                    id_give: $('#userid').val(),
                    pw_give: $('#userpw').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {

                        alert('회원가입이 완료되었습니다.')
                        window.location.href = 'http://localhost:5000/'
                    } else {

                        alert(response['msg'])
                    }
                }
            })
        }

    </script>


</head>
<body>
        <div class="section has-text-centered">

            <div class="container center" >
                <h1 class="title">너강내강</h1>
                <div class="field is-horizontal ">
                    <div class="field-label is-normal">
                        <label class="label" for="userid">ID</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="userid" aria-describedby="emailHelp"
                                       placeholder="ID:">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="userpw">PW</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="userpw" placeholder="PW:">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" onclick="signin()">sign in</button>
                <button class="button is-primary" onclick="signup()">sign up</button>


            </div>
        </div>

</body>
</html>

